* {
  box-sizing: border-box;

}

body{
  background-color:rgb(211, 121, 223);
}

img{
  width:200px;
  height: 200px;
  
}

#show-results {
  padding: 10px;
  width: max-content;
  border: 2px solid black;
  margin: auto;
  
}
