* {
  box-sizing: border-box;

}



body{
  background-color: rgb(212, 161, 181);
}

img{
  width:300px;
  height: 300px;
  
}

#show-results {
  padding: 10px;
  width: max-content;
  border: 2px solid black;
  margin: auto;
  
}
#chart{
  width: 80%;
  margin:auto;
}
#container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
